/* GENERAL COMPONENTS */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.vl {
  width: 2px;
  background-color: #6b976f;
  height: 90%;
  margin: auto 0;
}

label {
  display: block;
}

#footer {
  height: 64px;
  color: white;
  background-color: #6b976f;
  display: flex;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.flip-vertical {
  transform: scaleY(-1);
}

.button {
  min-height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product-image {
  height: 300px;
}

/* NAVBAR */

nav {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-content: center;
  background-color: #6b976f;
  padding: 16px;
  align-content: center;
  color: white;
}

#nav-logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-content: center;
}

.nav-links > div {
  display: flex;
  align-items: center;
  max-width: 250px;
}

nav a {
  align-content: center;
  color: white;
}

#expand-account {
  cursor: pointer;
}

#visible-dropdown {
  display: flex;
  position: absolute;
  top: 62px;
  right: 95px;
  width: 200px;
  flex-direction: column;
  background-color: #6b976f;
  color: white;
}

#dropdown-container {
  position: relative;
  width: 100%;
  background-color: #6b976f;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
  z-index: 5;
}

#dropdown-container:after,
#dropdown-container:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  position: absolute;
}
*/ #dropdown-container:after {
  border-color: rgba(43, 213, 77, 0);
  border-bottom-color: #6b976f;
  border-width: 15px;
  margin-left: -15px;
}

#dropdown-container:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ffffff;
  border-width: 18px;
  margin-left: -18px;
}

#dropdown-container > div {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

nav hr {
  width: 80%;
  color: #9a9ca7;
  margin: auto;
}

#hidden-dropdown {
  display: none;
}

/* LANDING PAGE */
#home button {
  font-size: 15px;
  color: white;
  background-color: #000000;
}

#home-section1 {
  max-width: 100vw;
  position: relative;
  height: 600px;
  display: flex;
}

#home-imageContainer {
  width: 60%;
  transform: scaleX(-1);
  /* linear-gradient(315deg, #fce0434e 0%, #fb7ba15d 74%) */
  background-image: url("https://images.unsplash.com/photo-1610450624105-58a2f25f7911?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1315&q=80");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#home-text {
  padding: 50px;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-text h1 {
  margin-top: 0px;
  font-size: 2.5rem;
}

#home-text p {
  font-size: 1.5rem;
}

#home-section2 {
  height: 500px;
  background-color: #f4c970;
}

/* ALL PRODUCTS */

#products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 1000px;
  margin: auto;
  gap: 20px;
}

#product-info {
  position: absolute;
  width: 320px;
  height: 320px;
}

.hover {
  background-color: #00000092;
}

.short-info {
  background-color: #00000092;
  color: white;
  padding: 10px;
  position: absolute;
  max-width: 250px;
}
.info-hover {
  background: none;
}

#product-title {
  top: 10px;
  left: 10px;
}

#product-price {
  right: 10px;
  bottom: 10px;
}

.short-info h3 {
  margin: 0;
}

#all-products-item > img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

#add-to-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f4c970;
}

#add-to-cart:hover {
  color: #6b976f;
}

.centered {
  margin: auto;
  position: absolute;
  top: 70px;
  padding: 20px;
  color: white;
}

.centered > a {
  color: #f4c970;
}

.centered > a:hover {
  color: #f4c970;
  text-decoration: underline;
}

#description {
  font-size: 15px;
}

/* SIGN-IN / SIGN-UP */

#auth-wrapper {
  display: flex;
  height: 88vh;
  width: 100vw;
  z-index: -1;
}

input {
  width: 100%;
  background-color: #e6e6e6;
  border: 2px solid #9a9ca7;
  font-size: 20px;
  height: 40px;
  width: 100%;
}

input:focus {
  outline: 1px solid #6b976f;
}

.auth-container {
  display: flex;
  margin: auto;
  height: 350px;
  width: 600px;
  justify-content: space-between;
}

.auth-container button {
  width: 150px;
  height: 20px;
  border-radius: 5px;
}

#log-in-button {
  background-color: #6b976f;
  color: white;
  margin-top: 10px;
}

#sign-up-button {
  background-color: white;
}

.auth-container > form {
  display: flex;
  flex-direction: column;
  width: 280px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.auth-container form div {
  margin: 10px 0px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.auth-container form :last-child {
  align-items: center;
}

.auth-container small {
  font-size: 12px;
}

#auth-infobox {
  background-color: #f4c970;
  width: 220px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#auth-infobox h3 {
  margin-top: 0px;
}

/* ----ADMIN DASHBOARD----- */

/* Products */

#dashboard {
  height: calc(100vh - 126px);
  width: 100vw;
  overflow: hidden;
}

#admin-products {
  display: flex;
  flex-direction: row;
  height: calc(100% - 48px);
  width: 100%;
  /* padding: 0 2%; */
  justify-content: space-evenly;
}

#all-products-admin {
  width: 65%;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}

#admin-product-options {
  width: 25%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

#admin-product-options > div {
  width: 95%;
}

button.invisible-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: auto;
  font-size: 0;
}

button.invisible-button:hover {
  color: #6b976f;
}

form div {
  margin: 0 10px;
}

.checkbox {
  width: 10px;
  height: 10px;
}

#admin-product-options h2 {
  margin: 0;
}

#admin-product-options .product-input {
  height: 30px;
  width: 100%;
}

#admin-product-options textarea {
  width: 100%;
  height: 100px;
  background-color: #e6e6e6;
  border: 2px solid #9a9ca7;
}

#admin-product-options textarea:focus {
  outline: 1px solid #6b976f;
}

#add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
  row-gap: 10px;
}

.fieldset > div {
  display: flex;
}

/* Categories */

#category-container {
  margin-top: 20px;
}
#category-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

#category-chips > div {
  margin-right: 10px;
}
input {
  width: 250px;
}
