/* GENERAL COMPONENTS */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.button {
  min-height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product-image {
  height: 300px;
}

/* NAVBAR */

nav {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-content: center;
  background-color: #6b976f;
  padding: 16px;
  align-content: center;
  color: white;
}

#nav-logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-content: center;
}

.nav-links > div {
  display: flex;
  align-items: center;
}

nav a {
  align-content: center;
  color: white;
}

#expand-account {
  cursor: pointer;
}

/* LANDING PAGE */
#home button {
  font-size: 15px;
  color: white;
  background-color: #000000;
}

#home-section1 {
  max-width: 100vw;
  position: relative;
  height: 600px;
  display: flex;
}

#home-imageContainer {
  width: 60%;
  transform: scaleX(-1);
  /* linear-gradient(315deg, #fce0434e 0%, #fb7ba15d 74%) */
  background-image: url("https://images.unsplash.com/photo-1610450624105-58a2f25f7911?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1315&q=80");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#home-text {
  padding: 50px;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-text h1 {
  margin-top: 0px;
  font-size: 2.5rem;
}

#home-text p {
  font-size: 1.5rem;
}

#home-section2 {
  height: 500px;
  background-color: #f4c970;
}

/* SIGN-IN / SIGN-UP */

#auth-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

#auth-wrapper input {
  width: 100%;
  background-color: #e6e6e6;
  border: 1px solid #9a9ca7;
  font-size: 20px;
  height: 40px;
  width: 100%;
}

#auth-wrapper input:focus {
  outline: 1px solid #6b976f;
}

.auth-container {
  display: flex;
  margin: auto;
  height: 350px;
  width: 600px;
  justify-content: space-between;
}

.auth-container button {
  width: 150px;
  height: 20px;
  border-radius: 5px;
}

#log-in-button {
  background-color: #6b976f;
  color: white;
  margin-top: 10px;
}

#sign-up-button {
  background-color: white;
}

.auth-container > form {
  display: flex;
  flex-direction: column;
  width: 280px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

form div {
  margin: 10px 0px;
}

.auth-container small {
  font-size: 12px;
}

#sign-up-prompt {
  background-color: #f4c970;
  width: 220px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sign-up-prompt h3 {
  margin-top: 0px;
}
